<launch>
    <arg name="config_path" value="$(find vins)/../config/kitti_odom/kitti_config00-02.yaml"/>
<!--    <node name="vins_estimator" pkg="vins" type="kitti_odom_test" output="screen" args="$(arg config_path) /home/daybeha/Documents/dataset/kitti/00"/>-->


    <param name="config_path" type="string" value="$(find vins)/../config/kitti_odom/kitti_config00-02.yaml"/>
    <!-- <param name="config_path" type="string" value="$(find vins)/../config/kitti_odom/kitti_config04-12.yaml"/> -->

    <!--    traj_format 0:kitti 1:tum-->
    <param name="traj_format" type="int" value="0"/>
    <param name="traj_outpath" type="string" value="$(find vins)/../results/"/>

    <node name="vins_estimator" pkg="vins" type="vins_node" output="screen"/>


    <node name="loop_fusion" pkg="loop_fusion" type="loop_fusion_node" output="screen" args="$(arg config_path)"/>

    <!--    <include file="$(find vins)/launch/vins_rviz.launch"/>-->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz_config2.rviz" />

<!--    <node pkg="rosbag" type="record" name="record"-->
<!--          args="/orb/path /orb/odom /camera/image_raw/compressed -O mono_kitti.bag"/>-->

     <node name="rviz" pkg="rviz" type="rviz" output="log" args="-d $(find vins)/../config/vins_rviz.rviz" />

</launch>
